#scrollBox {
    margin: auto;
    width: 400px;
    height: 500px;
    border: 1px solid red;
    overflow: scroll;
}

.scrollBox_item {
    margin: auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}